* { box-sizing: border-box; }



/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.52em;
  margin-bottom: 10px;
  background: #676767;
  border: none;
  border-radius: 7px;
  border: #85241B;
  color: #85241B;
  font-size: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: #35C299;;
  color: #ffffff;
}

.button:active,
.button.is-checked {
  background-color: #C53528;
}

.button.is-checked {
  color: white;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  text-align: center;
  margin: 0 auto;
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 2px;
}

/* ---- isotope ---- */


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


.grid-item { width: 150px; height: 150px;}