@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body, html{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #232323
}
@media (min-width: 1200px){
	.container {
		width: 960px;
	}
}
h1{
	font-weight: 700;
	font-size: 46px;
}

h2{
	text-transform: uppercase;
	font-size: 20px;
	color: #eeeeee
}
h3{
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 26px;
	color: #888888;
}

h4{
	text-transform: uppercase;
	font-size: 16px;
	word-spacing: 2px;
	color: #666666;
}

.home-name {
    color: #35C299;
}

.h4-name {
    color: #ffffff;
}

h5{
    color: #35C299;
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 2px;
}


h6{
	text-transform: uppercase;
	font-size: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

p{
	font-weight: 400;
    color: #eeeeee
}
hr{
	width: 50px;
	border-color: #C53528;
}
a {color: #222222}
a:hover,
a:focus{
	color: #C53528;
	text-decoration: none;
}


#home{
	background: url("../img/bg10.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;	
	padding-top: 60px;
	color: #ffffff;
}
#home a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #C53528;
	border-radius: 2px
	padding: 7px 5px;
	position:
	margin-top: 100px;
	color: #ffffff;
	cursor: pointer;
}

#menu-home {
	padding-top: 60px;
}




.content{
	padding-top: 16%;
	color: #C53528;
}
.header-text.btn{
	border: 1px solid #ffffff;
	border-radius: 0;
	padding: 10px 30px;
	height: 100px;
}
.header-text.btn:hover{
	color: inherit;
}
.header-text.btn:focus, 
.header-text.btn:active:focus, 
.header-text.btn.active:focus, 
.header-text.btn.focus, 
.header-text.btn:active.focus, 
.header-text.btn.active.focus {
	outline: thin dotted transparent;
	outline: none;
	outline-offset: -2px;
}
.typed-cursor {
	opacity: 1;
	padding: 10px 2px;
	background: #ffffff;
	margin: 10px;
	-webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
span.typed-cursor {
	top: -5px;
	position: relative;
}
/*.header-text{
	margin-top: 20px;	
	position: absolute;
	border: 1px solid #ffffff;
	left: 25%;
	right: 25%;
}
.header-text h1{
	padding: 20px;
	position: relative;
	margin: 0 auto;
}*/
nav#menu span.fa.fa-bars{
	font-size: 30px;
	position: fixed;
	left: 120px;
	color: #c0c0c0;
	cursor: pointer;
	z-index: 1;
}

.navmenu, .navbar-offcanvas {
width: 270px;
z-index: 10;
}
.navmenu-default, 
.navbar-default .navbar-offcanvas {
	background-color: #1E2429;
	border-color: #1E2429;
	border: 0;
}
.navmenu-default .navmenu-nav>li>a:hover, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, 
.navmenu-default .navmenu-nav>li>a:focus, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
color: #C59A6D;
background-color: transparent;
}
.nav > li {
position: relative;
display: block;
text-align: center;
}
.navmenu-default .navmenu-nav>li>a, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a {
color: #ffffff;
text-transform: uppercase;
font-size: 12px;
line-height: 30px;
}
nav#menu span.fa.fa-bars:hover {
color: #C59A6D;
}
.navmenu-default .navmenu-nav>.active>a, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a, 
.navmenu-default .navmenu-nav>.active>a:hover, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover, 
.navmenu-default .navmenu-nav>.active>a:focus, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
color: #C59A6D;
background-color: transparent;
}

.close:hover{
	background: #C53528;
	color: #ffffff;
	opacity: 1;
}
.close{
	background: #fff;
	padding: 10px 12px;
	opacity: 1;
	transition: all 0.3s;
}
.add-margin{
	margin-top: 200px;
}

#welcome,
#works,
#about-me{
	padding: 90px 0;
}


#about-me {
    background: url(../img/bg11.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
}


a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #C53528;
	border-radius: 2px;
	padding: 7px 5px;
	position: -1
	cursor: pointer;
	color: #ffffff;
	margin-top: 30px;
}



a.up-btn span.fa.fa-angle-up {
	font-size: 26px;
	border: 1px solid #C53528;
	border-radius: 2px;
	padding: 7px 5px;
	position: -1
	cursor: pointer;
	color: #ffffff;
	margin-top: 30px;
}



a.left-btn span.fa.fa-angle-left {
	font-size: 26px;
	border: 1px solid #C53528;
	border-radius: 2px;
	padding: 5px 10px 5px 7px;
	position: -1
	cursor: pointer;
	color: #ffffff;
	margin-top: 20px;
}


.space{ padding-top: 40px; }

.nopadding{
	padding: 0;
	margin: 0;
}


.portfolio-item .hover-bg{
	height: 400px;
	width: auto;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	border: 5px solid #444444;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h5{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h5{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>.hline{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>.hline{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}
.hline{
	height: 5px;
	width: 30px;
	border-top: 2px solid #f1f1f1;
	margin: 0 auto
}

.hover-text p.lead{
	color: #C53528;
}


a.btn.read-more-btn{
	text-transform: uppercase;
	background: #C53528;
	color: #C53528;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
a.btn.read-more-btn:hover{
	background: #222222;
	color: #ffffff;
}

a.btn.send-btn{
	text-transform: uppercase;
	background: #C53528;
	color: #C53528;
	padding: 15px 35px;
	border-radius: 0;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
a.btn.send-btn:hover{
	background: transparent;
	border: 1px solid #C53528;
	color: #ffffff;
}

ul, ol{
	padding: 0;
	moz-padding: 0;
	webkit-padding: 0;
}

ul.clients li{
	display: inline-block;
	padding: 20px 40px;
	vertical-align: middle;
}

.portrait {
    background-color: rgba(51, 51, 51, .4);
    font-size: .9em;
	border: 1px solid #c3c3c3;
	height: 10em;
	padding: 25px;
	opacity: 0.9;
	transition: all 0.8s;
	height: 320px;
	margin-bottom: 90px;
}
.portrait:hover.hire,
.portrait.hire{
	height: 340px;
	border-color: #C53528;
	color: #C53528;
	opacity: 1;
}

.portrait.hire>a{
	color: #C53528;
}
.portrait hr{
	border-width: 2px;
	border-color: #dcc2a7;
}
.portrait:hover{
	opacity: 1;
	border: 1px solid #eeeeee;
}
.portrait img {
    attachment: fixed;
    align: center
	width: 150px;
	height: 150px;
	margin: 0 auto;
}


.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 2px 5px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #C59A6D;
}

#contact{
	background: url(../img/bg6.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	padding-top: 50px;
	padding-bottom: 20px;
	color: #ffffff;
}

ul.social li{
	display: inline-block;
	align: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 30px;
}

ul.social li a{
	color: #ffffff;
	font-size: 16px;
}

address strong{
	text-transform: uppercase;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
}
address:before{
	content: "\f041";
	display: inline-block;
	margin-right: 10px;
  	font: normal normal normal 14px/1 FontAwesome;
  	font-size: 16px;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	color: #C53528;
  	vertical-align: middle;
}
address{
	font-style: italic;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

nav#footer{
	padding-top: 20px;
	margin-top: 120px;
	color: #ffffff;
}
#footer span.fa{
	color: #C53528;
	font-size: 26px;
	margin-left: 10px;
}
#footer a{
	color: #ffffff;
}
#footer a:hover{
	color: #C53528;}


.gallery-text {
    margin: 0px 0px 0px 0px;
	border: 1px solid #cccccc;
	padding: 20px 20px 20px 20px;
	font-size: .9em;
}

.img-portfolio {
  width: 280px;
}


.pdv-img {
    border: 1px solid #cccccc;
    width: 100%;
    height: auto;
    }

.pdv-thumbnail {
    border: 1px solid #cccccc;
    margin: 30px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    }

.intro-txt {
    margin-top: 0px;
	border: 1px solid #cccccc;
	padding: 19px 18px;
	font-size: .89em;
}

.pdv-txt {
    margin-top: 20px;
	border: 1px solid #cccccc;
	padding: 15px 19px 5px 19px;
	font-size: .88em;
}

.pdv-txt-img {
    margin-top: 20px;
    margin-right: 0px;
    width: 100%;
	border: 1px solid #cccccc;
}


.pdv-txt-imglr {
    margin-top: 18.5px;
    width: 100%;
	border: 1px solid #cccccc;
}


.pdv-bg1 {
    background-color: #454545;
    padding: 30px 30px 30px 15px;
    }


.pdv-bg2 {
    background-color: #333333;
    padding: 15px 7px 35px 30px;
    }

.pdv-bg3 {
    background-color: #454545;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.spc-img {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 0px;
	border: 1px solid #cccccc;
    width: 99.5%;
}

.navpdv {
    color: #ffffff;
}

.p-link {
    color: #35C299;
}

.p-pdv2 {
	border: 1px solid #cccccc;
	padding: 15px;
	font-size: .895em;
}

.p-involucre{
	border: 1px solid #cccccc;
	padding: 20px;
	font-size: .96em;
}

.pdv2 {
margin-left: -30px;
}

.involucre-img {
    width: 100%;
    }

#zoom_05 {
    border: 1px solid #cccccc;
}

.img-dr {
    height: 320px;
    border: 1px solid #aaaaaa;
}

.img-dr2 {
    height: 360px;
    border: 1px solid #cccccc;
}


.dr-bg {
    background-color: #454545;
    padding: 30px;
    padding-top: 0px;
}